#about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.aboutTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.aboutDesc {
    font-size: 1rem;
    font-weight: 400;
    max-width: 51rem;
    padding: 0 2rem;
}

.aboutBar {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.barItem {
    background: rgb(150, 150, 150);
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
}

.barImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.barText>p {
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width:720px) {
    .barText>p {
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .barText>p {
        font-size: 3vw;
    }
    .barImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .barText>h1 {
        font-size: 5vw;
    }
}