#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}

.bgImg {
    position: absolute;
    top: 7rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 80vh;
    width: 50vw;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.myName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 300;
}

.hireBtn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 0.75rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

@media screen and (max-widt:450px) {
    .bgImg {
        right: -20vw;
    }
}